@import "tailwindcss";

.beautiful{
  font-family: "Cal Sans", sans-serif;
  font-weight: 500;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #67676763;
  border-radius: 3px;
}
.sidebarbtn{
  position: absolute;
  top: 5vw;
  left: 0;
  z-index: 1000;
}
.sidebar{
  position: sticky;
  top: 0;
  left: 0;
}
.blur-char {
  display: inline-block;
  filter: blur(8px);
  opacity: 0;
  transition: filter 0.35s ease, opacity 0.35s ease;
}

.blur-char.show {
  filter: blur(0);
  opacity: 1;
}
